@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");


:root {
	--font: "Inter", sans-serif;
	--red: #da2535;
	--black: #292929;
	--white: #fbfbfb;
}

html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

/* SEARCH BAR CONTAINER */
.search-local {
	width: 100%;
	max-width: 75rem;
	display: flex;
    margin-top: 1.5rem;
    margin-left: 8rem;
	align-items: center;
	column-gap: 2rem;
	padding-left: 2rem;
	background: var(--white);
	border-radius: 1rem;
	min-height: 5rem;
	height: 30px;
	border: 0.1rem solid var(--black);
	border-right: none;
}

/* ICON */
.icon {
	color: var(--red);
	font-size: 3.5rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.icon:hover {
	animation: funny-icon 0.4s ease-in-out;
}

@keyframes funny-icon {
	0% {
		scale: 1;
	}

	50% {
		scale: 0.8;
		transform-origin: bottom;
		transform: rotate(-15deg);
	}

	100% {
		scale: 1;
	}
}

/* INPUT */
.search-local input {
	height: 100%;
	width: 100%;
	flex: 1 1 25rem;
	background: var(--white);
	display: flex;
	outline: none;
	border: none;
	color: var(--black);
	font-size: 2.4rem;
}

input[type="text"]::placeholder {
	color: var(--black);
	font-size: 2.4rem;
}

/* BUTTON */
.search-local button {
	background: #82AAE3;
	border: none;
	border-radius: 0 1rem 1rem 0;
	font-weight: 500;
	font-size: 2.4rem;
	height: 5rem;
	width: 18rem;
	cursor: pointer;
	transition: all 0.3s;
	text-align: center;
}

button a {
	color: var(--white);
}

.search-local button .search-icon {
	display: none;
}

.search-local button:hover {
	letter-spacing: 0.5rem;
}

/* MEDIAS */
@media (max-width: 575px) {
	.search-local {
		padding-left: 0;
		column-gap: 0.25rem;
	}

	.search-local button {
		width: 10rem;
	}

	button a {
		display: none;
	}

	.search-local button .search-icon {
		display: block;
		margin-inline: auto;
		color: var(--white);
		font-size: 3rem;
	}

	input[type="text"]::placeholder {
		font-size: 1.7rem;
	}
}

.carddisplay{
    justify-content: center;
    display: flex;
}