/***********************CARD CSS ************/
  .product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #82AAE3;
    float: left;
    margin-left: 2rem;
    border-radius: 2rem;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #BFEAF5;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;

}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #ffff;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #ffff;
    padding-top: 20px;
    margin-bottom: 5px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
    color: #fff;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #ffff;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}
.card-title
{
    color:#fff;
    font-size: 2rem;
}
.btn-outline {
    color: #4fbfa8;
    background-color: #ffffff;
    border-color: #4fbfa8;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 2rem;
    height: 2rem;
    width: 25%;
    margin-right: 2rem;
    
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: #4fbfa8;
    color: #ffffff;
    border-color: #4fbfa8;
    
  }
  .btn-outlined {
    color: red;
    background-color: #ffffff;
    border-color: red;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 2rem;
    height: 2rem;
    width: 25%;

  }

  
  .btn-outlined:hover,
  .btn-outlined:active,
  .btn-outlined:focus,
  .btn-outlined.active {
    background: red;
    color: #ffffff;
    border-color: red;
    
  }
  .button_fish_flex
  {
    display: flex;
    justify-content: space-between;
  }
  .update_head
  {
      display: flex;
      justify-content: center;
  }