*
{
  margin: 0;
  padding: 0;
}
.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-link {
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 1000;
    color: #82AAE3;
  }
  
  .active, .navbar-link:hover{
    color: rgb(255, 51, 102) !important;
  }
  
  .sign-up-button {
    background: transparent;
    border-radius: 999em;
    text-transform: uppercase;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    font-size: 12px !important;
    letter-spacing: 0.1071em !important;
    color: white !important;
  }
  
  
  .get-started-button {
    border-radius: 999em ;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: 0.1071em;
    background: rgb(255, 51, 102);
    border-color: rgb(255, 51, 102);
    margin-top: 30px
  }
  
  .landing-button {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .black-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    z-index: 1;
  }
  
  .container {
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .navbar {
    margin-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar-container {
    margin-left: 45px;
    margin-right: 45px;
    display: grid;
    grid-template-columns: 7.5vw 15px 10vw 0px 10vw 0px 10vw 0px 7.5vw 25vw 8vw 10px 14vw;
  }
  
  .navbar-platform {
    grid-column: 1/1;
  }
  
  .navbar-education {
    grid-column: 3/3;
  }
  
  .navbar-community {
    grid-column: 5/5;
  }
  
  .navbar-enterprise {
    grid-column: 7/7;
  }
  
  .navbar-signin {
    grid-column: 11/11;
  }
  
  .navbar-button {
    grid-column: 13/13;
  }

  header {
    background-color: #82AAE3;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  .flex-nav
  {
    display: flex;
    justify-content: space-between;
  }
  .nav-text
  {
    font-size: 40px;
    color: #fff;
  }
  .button.style_1 {
    background-color: #91D8E4;
    border: 4px solid #91D8E4;
    border-radius: 50px;
    width: 9rem;
    height: 3rem;
    color: #00008B;
    margin-right: 1rem;
    font-size: 2rem;
  }
  .button_flex
  {
    display: flex;
    float: right;
  }