.card {
    width: 150px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid green;
    min-height: 200px;
    padding: 10px;
    margin: 10px;

}


h1 {
    font-weight: lighter;
    text-align: center;
}

h3 {
    margin: 10px;
    font-family: segoe ui;
    line-height: 1.4em;
    font-size: 1.2em;
}

#mainbox {
    font-family: calibri;
    width: 380px;
    height: auto;
    position: relative;
    margin: 50px auto;
    float: left;
    margin-left: 2rem;
    border-radius: 2rem;
}